* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  min-width: 320px;
}

#root {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
